<div class="section">
  <div class="row">
    <div class="input-field col s6 m2">
      {{#power-select options=anos selected=ano onchange=(action "selecionaAno") as |ano|}}
        {{ano}}
      {{/power-select}}
    </div>
    <div class="input-field col s6 m3">
      {{#power-select options=meses selected=mes onchange=(action "selecionaMes") as |mes|}}
        {{mes}}
      {{/power-select}}
    </div>
    <div class="input-field col s4 m2">
      {{#if loadingImportacao}}
        <div class="row">
          <div class="col s4">
            <div class="preloader-wrapper small active">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{else}}
        <a class="waves-effect waves-light btn" {{action "importaArquivoOfx" 1}}>BB</a>
      {{/if}}
    </div>
    <div class="input-field col s4 m2">
      {{#if loadingImportacao}}
        <div class="row">
          <div class="col s4">
            <div class="preloader-wrapper small active">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{else}}
        <a class="waves-effect waves-light btn" {{action "importaArquivoOfx" 2}}>Cxa</a>
      {{/if}}
    </div>
    <div class="input-field col s4 m3">
      {{#if loadingImportacao}}
        <div class="row">
          <div class="col s4">
            <div class="preloader-wrapper small active">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{else}}
        <a class="waves-effect waves-light btn" {{action "importaArquivoOfx" 3}}>Car</a>
      {{/if}}
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      {{input value=pesquisa }}
    </div>
  </div>
</div>

 <div class="divider"></div>

<div class="section">
  {{#if loading}}
    <div class="row">
      <div class="col s4">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{else}}
    {{#if (eq lancamentos.length 0)}}
      <div class="row">
        <div class="col s12 center">
          Não existem lançamentos para o mês {{mes}}/{{ano}}.
        </div>
      </div>
    {{else}}
      <ul class="collection">
        {{#each lancamentosOrdenados as |lancamento|}}
          <li class="collection-item">
            <div class="row">
              <div class="col s8 m1">
                <img src="../images/{{lancamento.conta}}" style="width: 30px">
              </div>

              <div class="col s4 m2">
                {{moment-format lancamento.dtlancamento 'DD/MM/YYYY'}}
              </div>

              <div class="col s8 m4">
                {{lancamento.descricao}}
              </div>

              <div class="col s4 m2">
                {{format-money lancamento.valor}}
              </div>

              <div class="col s8 m2">
                {{#power-select options=selectItensSubcategoria selected=lancamento.subcategoria.descricao onchange=(action "selecionaSubcategoria" lancamento) as |subcategoria|}}
                  {{subcategoria}}
                {{/power-select}}
              </div>

              <div class="col s4 m1">
                {{#link-to "portal.lancamento.edicao" lancamento.id}}
                  <i class="small material-icons">edit</i>
                {{/link-to}}
                <a href="#" {{action "confirmarExclusao" lancamento}}>
                  <i class="small material-icons" >delete</i>
                </a>
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  {{/if}}

  <div class="fixed-action-btn">
    {{#link-to "portal.lancamento.novo" class="btn-floating btn-large red"}}
      <i class="large material-icons">add</i>
    {{/link-to}}
  </div>

</div>

{{confirm-modal name="modalConfirmarExclusao" msg="Deseja realmente excluir este lançamento?" actionConfirm=(action "excluirLancamento" lancamento)}}
